h1 Demo Webrtc Madrid RB
= image_tag "rtclogo.png"

p Estos son ellos
#remoteViewContainer

p#currentUser data-user="#{@random_number}" = "Este soy yo y mi id: #{@random_number}"
#webrtc_conf data-ice-servers="#{@ice_servers}"


#localViewContainer
  video#selfView autoplay=""

#joinBtnContainer
  button#joinSession Entrar

#leaveBtnContainer
  button#joinSession Salir

