h1 Madrid RB

p#currentUser = "Random user id: #{@random_number}"

#remoteViewContainer
#localViewContainer
video#selfView autoplay=""

#joinBtnContainer
  button#joinSession Join Room

#leaveBtnContainer
  button#joinSession Leave Room

